<h3 style="margin: 1em;" class="header">Rental Form</h3>

<div [hidden]="continue" >
  <form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input required ngModel name="firstName" id="firstName" #firstName="ngModel" (change)="log(firstName)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">First Name is Required</div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input ngModel required name="lastName" id="lastName" #lastName="ngModel" (change)="log(lastName)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Last Name is Required</div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel required name="email" id="email" #email="ngModel" (change)="log(email)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is Required</div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input ngModel required name="address" id="address" #address="ngModel" (change)="log(address)" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="address.touched && !address.valid">Address is Required</div>
    </div>
    <div class="form-group">
      <label for="schoolId">School</label>
      <select required ngModel name="schoolId" #schoolId="ngModel" name="schoolId" id="schoolId" class="form-control">
        <option value="unselected"></option>
        <option *ngFor="let school of schools" [value]="school.id">{{ school.name}}</option>
      </select>
      <!--{{ schoolId.value }}-->
      <!--<div class="alert alert-danger card" *ngIf="schoolId.valid">School is Required</div>-->
    </div>
    <button [disabled]="!f.valid" class="btn btn-primary"><i class="fa fa-check-circle" ariel-hidden="true"></i> Verify</button>
    <!--&& schoolId.value == 'unselected'-->
    <!--<p>{{ value | json}}</p>-->
  </form>
  <form #g="ngForm" (ngSubmit)="submit2(g)">
    <div class="form-group">
      <label for="instrument">Instrument</label>
      <select required [disabled]="!schoolId.touched" ngModel name="instrument" #instrument="ngModel" name="instrument" id="instrument" class="form-control">
        <option></option>
        <option [value]="instrument.id" *ngFor="let instrument of instrumentInventory">{{ instrument.type }}</option>
      </select>
    </div>
    <div class="form-group">
      <p>Don't see an instrument you want? Be put on the <a routerLink="../waiting-list" class="alert-link">waiting list</a></p>
    </div>
    <button [disabled]="!g.valid" class="btn btn-primary">Submit</button>
  </form>

</div>
<div [hidden]="facultyMembersHidden">
  <form #m="ngForm" [hidden]="!showThanks">
    <div class="form-group margin">
      <label for="message">Message</label>
      <textarea rows="9" cols="40" ngModel name="message" id="message" #message="ngModel" (change)="log(message)" type="text" class="form-control"></textarea>
      <button style="margin-left: 0" (click)="showThanks = !showThanks; createMessage(message.value)" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div  *ngIf="thanksDonorMessage === true" [hidden]="showThanks" class="card border-primary mb-3">
    <div class="card-header">Message from Resonance</div>
    <div class="card-body">
      <p style="margin: 0; padding: 0" class="card-text">Thank you so much for writing this message.
        For us, this may be another instrument, but you have changed the lives of
        countless children who can now see if music is where their passion lies; see if music is who they want to be; see if music is who they are.
        Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis n
        on nisl amet vis volutpat aclacus nascetur
        ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.
        Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan.
        Accumsan blandit. Lobortis phasellus n
        on lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia
        lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing
        adipiscing curae consequat feugiat etiam dolore.
        Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis
        non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien
        in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p>
      <p class="card-text"></p>
    </div>
  </div>
  <!--<div class="card border-warning mb-3 header">Thanks for Renting! Get in contact with a faculty member to pick up your instrument!</div>-->
  <div [hidden]="showThanks" class="card border-warning row" style="margin: 1em">
    <div class="card-header">Thanks for renting! Get in touch with faculty!</div>
    <div style="margin: 0" class="row">
    <div *ngFor="let facultyMember of facultyMembers" class="card border-dark" style="max-width: 20rem; margin-left: 1em; margin-bottom: 1em; text-align: center;">
      <div class="card-header">{{ facultyMember.position }}</div>
      <div class="card-body">
        <h4 class="card-title">{{ facultyMember.firstName }} {{ facultyMember.lastName}}</h4>
        <p style="margin-left: 0; margin-right: 0" class="card-text">Email: {{ facultyMember.email }}</p>
        <p style="margin-left: 0; margin-right: 0; margin-top: .4em" class="card-text">Phone Number: {{ facultyMember.phoneNumber }}</p>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="bod">
  <section id="footer">
    <ul class="icons">
      <li><a href="#" class="icon alt fa fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon alt fa fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon alt fa fa-envelope"><span class="label">Email</span></a></li>
    </ul>
  </section>

</div>
